flows/CheckCampaignProcess.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add2cvar</name>
        <label>Add2cvar</label>
        <locationX>373</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>cvarCampaignMemberLeadID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovLoopB_LeadCampaignMember.LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CampaignInvalid</name>
        <label>Campaign Invalid</label>
        <locationX>39</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>varCampaignIDInvalid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateVarLeadExist</name>
        <label>UpdateVarLeadExist</label>
        <locationX>537</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>VarLeadExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ContainsLeadID</name>
        <label>ContainsLeadID</label>
        <locationX>540</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Add2cvar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add</defaultConnectorLabel>
        <rules>
            <name>Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvarCampaignMemberLeadID</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>sovLoopB_LeadCampaignMember.LeadId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopB</targetReference>
            </connector>
            <label>Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesLeadExist</name>
        <label>DoesLeadExist</label>
        <locationX>540</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>LoopC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoLead</defaultConnectorLabel>
        <rules>
            <name>LeadExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvarCampaignMemberLeadID</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>sovLoopC_LeadByEmail.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVarLeadExist</targetReference>
            </connector>
            <label>LeadExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCampaignMemberNeeded</name>
        <label>IsCampaignMemberNeeded</label>
        <locationX>378</locationX>
        <locationY>672</locationY>
        <defaultConnector>
            <targetReference>CreateNewCampaignMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CreateLead</defaultConnectorLabel>
        <rules>
            <name>ExistingCampaignMemberLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarLeadExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>ExistingCampaignMemberLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCampaignMemberNull</name>
        <label>IsCampaignMemberNull</label>
        <locationX>219</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>LoopB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsGood</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socLoopB_LeadCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewCampaignMember</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCampaignValid</name>
        <label>Is Campaign Valid</label>
        <locationX>42</locationX>
        <locationY>110</locationY>
        <defaultConnector>
            <targetReference>CampaignInvalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovLoopA_Campaign.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoContact</targetReference>
            </connector>
            <label>IsValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContact_a_Campaign_Member</name>
        <label>IsContact a Campaign Member</label>
        <locationX>566</locationX>
        <locationY>110</locationY>
        <defaultConnector>
            <targetReference>NewMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotMember</defaultConnectorLabel>
        <rules>
            <name>IsMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCampaignMemberSFDCID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>IsMember</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoContact</name>
        <label>No Contact</label>
        <locationX>221</locationX>
        <locationY>113</locationY>
        <defaultConnector>
            <targetReference>Find_Campaign_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasContact</defaultConnectorLabel>
        <rules>
            <name>NoContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FoundCampaignMembers_as_Leads</targetReference>
            </connector>
            <label>NoContactFound</label>
        </rules>
    </decisions>
    <interviewLabel>CheckCampaignProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckCampaignProcess</label>
    <loops>
        <name>LoopB</name>
        <label>LoopB</label>
        <locationX>379</locationX>
        <locationY>334</locationY>
        <assignNextValueToReference>sovLoopB_LeadCampaignMember</assignNextValueToReference>
        <collectionReference>socLoopB_LeadCampaignMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContainsLeadID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FindLeadsByEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopC</name>
        <label>LoopC</label>
        <locationX>376</locationX>
        <locationY>560</locationY>
        <assignNextValueToReference>sovLoopC_LeadByEmail</assignNextValueToReference>
        <collectionReference>socLoopC_LeadByEmail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DoesLeadExist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsCampaignMemberNeeded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNewCampaignMember</name>
        <label>CreateNewCampaignMember</label>
        <locationX>224</locationX>
        <locationY>675</locationY>
        <assignRecordIdToReference>varCampaignMemberSFDCID</assignRecordIdToReference>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>sovLoopA_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>sovWeb2Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <name>NewMember</name>
        <label>NewMember</label>
        <locationX>742</locationX>
        <locationY>109</locationY>
        <assignRecordIdToReference>varCampaignMemberSFDCID</assignRecordIdToReference>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>sovLoopA_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactSFDCID</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Campaign_Members</name>
        <label>Find Campaign Members</label>
        <locationX>397</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContact_a_Campaign_Member</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovWeb2Lead.Campaign_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactSFDCID</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varCampaignMemberSFDCID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindCampaign</name>
        <label>Find Campaign</label>
        <locationX>40</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCampaignValid</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovWeb2Lead.Campaign_ID__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>sovLoopA_Campaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindLeadsByEmail</name>
        <label>FindLeadsByEmail</label>
        <locationX>377</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopC</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovWeb2Lead.Email</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>socLoopC_LeadByEmail</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FoundCampaignMembers_as_Leads</name>
        <label>Found Campaign Members as Leads</label>
        <locationX>217</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCampaignMemberNull</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovWeb2Lead.Campaign_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>socLoopB_LeadCampaignMember</outputReference>
        <queriedFields>LeadId</queriedFields>
    </recordLookups>
    <startElementReference>FindCampaign</startElementReference>
    <status>Active</status>
    <variables>
        <name>cvarCampaignMemberLeadID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>socLoopB_LeadCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>socLoopC_LeadByEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sovCampaignMenber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>sovLoopA_Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>sovLoopB_LeadCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>sovLoopC_LeadByEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sovWeb2Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varCampaignIDInvalid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCampaignMemberSFDCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCampaignSFDCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactSFDCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLeadExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varNoContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
