flows/Save_Form_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignWebForm</name>
        <label>AssignWebForm</label>
        <locationX>1519</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.Campaign_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.Campaign_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactSFDCID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.GA_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.GA_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.GA_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.GA_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.GA_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.Program_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.Program_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.Campaign_ID_Invalid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCompaignIDInvalid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.SMS_Opt_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.SMS_Opt_in__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_WebFormNew.Web_Source_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.Web_Source_Page__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateWebForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update</name>
        <label>Contact Update</label>
        <locationX>789</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GA_Content</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_0</name>
        <label>Contact Update</label>
        <locationX>935</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Content__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GA_Medium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_0_0</name>
        <label>Contact Update</label>
        <locationX>1077</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Medium__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GA_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_0_0_0</name>
        <label>Contact Update</label>
        <locationX>1369</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsUpdateNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_0_0_0_0</name>
        <label>Contact Update</label>
        <locationX>1224</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Web2Lead.GA_Source__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GA_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_0_0_0_0_1</name>
        <label>Contact Update</label>
        <locationX>1220</locationX>
        <locationY>14</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGASource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GA_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_0_0_0_1</name>
        <label>Contact Update</label>
        <locationX>1672</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactSFDCID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_0_0_0_2</name>
        <label>Contact Update</label>
        <locationX>1361</locationX>
        <locationY>16</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGATerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsUpdateNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_0_0_1</name>
        <label>Contact Update</label>
        <locationX>1071</locationX>
        <locationY>11</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGAMedium</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GA_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_0_1</name>
        <label>Contact Update</label>
        <locationX>931</locationX>
        <locationY>9</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGAContent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GA_Medium</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Update_1</name>
        <label>Contact Update</label>
        <locationX>788</locationX>
        <locationY>9</locationY>
        <assignmentItems>
            <assignToReference>sov_ContactUpdate.Most_Recent_GA_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGACampaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GA_Content</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNoContact</name>
        <label>SetNoContact</label>
        <locationX>223</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varNoContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampaignIDok</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setvarCompaignIDGood</name>
        <label>setvarCompaignIDGood</label>
        <locationX>228</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varCompaignIDInvalid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsContactComplete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalContacts</name>
        <label>TotalContacts</label>
        <locationX>392</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>varTotalContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactSFDCID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovLoopA_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastModifiedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovLoopA_Contacts.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactSFDCID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactSFDCID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGACampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovLoopA_Contacts.Most_Recent_GA_Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGAContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovLoopA_Contacts.Most_Recent_GA_Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGAMedium</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovLoopA_Contacts.Most_Recent_GA_Medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGASource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovLoopA_Contacts.Most_Recent_GA_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGATerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovLoopA_Contacts.Most_Recent_GA_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CampaignIDok</name>
        <label>CampaignIDok</label>
        <locationX>393</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>If_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotGood</defaultConnectorLabel>
        <rules>
            <name>IsGoodID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCompaignIDInvalid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckForCampaign</targetReference>
            </connector>
            <label>IsGood</label>
        </rules>
    </decisions>
    <decisions>
        <name>CampaignIDok_0</name>
        <label>CampaignIDok</label>
        <locationX>1370</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>DeleteLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotGood</defaultConnectorLabel>
        <rules>
            <name>IsGoodID_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCompaignIDInvalid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckForCampaign_0</targetReference>
            </connector>
            <label>IsGood</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GA_Campaign</name>
        <label>Check GA Campaign</label>
        <locationX>789</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Contact_Update_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Update_GA_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Web2Lead.GA_Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Update</targetReference>
            </connector>
            <label>Update GA Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GA_Content</name>
        <label>Check GA Content</label>
        <locationX>933</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Contact_Update_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Update_GA_Content</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Web2Lead.GA_Content__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Update_0</targetReference>
            </connector>
            <label>Update GA Content</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GA_Medium</name>
        <label>Check GA Medium</label>
        <locationX>1073</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>Contact_Update_0_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Update_GA_Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Web2Lead.GA_Medium__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Update_0_0</targetReference>
            </connector>
            <label>Update GA Medium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GA_Source</name>
        <label>Check GA Source</label>
        <locationX>1220</locationX>
        <locationY>123</locationY>
        <defaultConnector>
            <targetReference>Contact_Update_0_0_0_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Update_GA_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Web2Lead.GA_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Update_0_0_0_0</targetReference>
            </connector>
            <label>Update GA Source</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GA_Term</name>
        <label>Check GA Term</label>
        <locationX>1364</locationX>
        <locationY>124</locationY>
        <defaultConnector>
            <targetReference>Contact_Update_0_0_0_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Update_GA_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Web2Lead.GA_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Update_0_0_0</targetReference>
            </connector>
            <label>Update GA Term</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCampaignID</name>
        <label>CheckCampaignID</label>
        <locationX>40</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>setvarCompaignIDGood</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNull</defaultConnectorLabel>
        <rules>
            <name>IsGood</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Web2Lead.Campaign_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsContactComplete</targetReference>
            </connector>
            <label>IsGood</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_Total</name>
        <label>Contacts Total</label>
        <locationX>550</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>If_GAs_Newer_Than_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Just One</defaultConnectorLabel>
        <rules>
            <name>More_Than_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalContacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLead</targetReference>
            </connector>
            <label>More Than One</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Changed</name>
        <label>If Changed</label>
        <locationX>32</locationX>
        <locationY>663</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCompaignIDInvalid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Campaign_ID_Invalid</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_GAs_Newer_Than_Contact</name>
        <label>If GAs Newer Than Contact</label>
        <locationX>551</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>AssignWebForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>IsNewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Web2Lead.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varLastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_GA_Campaign</targetReference>
            </connector>
            <label>IsNewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Null</name>
        <label>Is Email Null</label>
        <locationX>10</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Find_Contacts_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsGood</defaultConnectorLabel>
        <rules>
            <name>IsNullEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Web2Lead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Changed</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContactComplete</name>
        <label>IsContactComplete</label>
        <locationX>226</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Find_Contacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fast Lookup Contact</defaultConnectorLabel>
        <rules>
            <name>FindContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_Web2Lead.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_Null</targetReference>
            </connector>
            <label>FindContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContactNull</name>
        <label>IsContactNull</label>
        <locationX>223</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>LoopA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>socLoopA_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNoContact</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadGood</name>
        <label>IsLeadGood</label>
        <locationX>223</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>FindWeb2Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsGood</defaultConnectorLabel>
        <rules>
            <name>IsNull2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadCheckID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUpdateNull</name>
        <label>IsUpdateNull</label>
        <locationX>1516</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>Contact_Update_0_0_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsGood</defaultConnectorLabel>
        <rules>
            <name>IsNullUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_ContactUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignWebForm</targetReference>
            </connector>
            <label>IsNullUpdate</label>
        </rules>
    </decisions>
    <interviewLabel>Save Form Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Save Form Process</label>
    <loops>
        <name>LoopA</name>
        <label>LoopA</label>
        <locationX>395</locationX>
        <locationY>322</locationY>
        <assignNextValueToReference>sovLoopA_Contacts</assignNextValueToReference>
        <collectionReference>socLoopA_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalContacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contacts_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateWebForm</name>
        <label>CreateWebForm</label>
        <locationX>1521</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>CampaignIDok_0</targetReference>
        </connector>
        <inputReference>sov_WebFormNew</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteLead</name>
        <label>DeleteLead</label>
        <locationX>1234</locationX>
        <locationY>557</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Web2Lead.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordDeletes>
    <recordLookups>
        <name>Check_if_Lead_is_good</name>
        <label>Check if Lead is good</label>
        <locationX>35</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsLeadGood</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadIdSFDC</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varLeadCheckID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Contacts_0</name>
        <label>Find Contacts</label>
        <locationX>222</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContactNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Web2Lead.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>socLoopA_Contacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Most_Recent_GA_Campaign__c</queriedFields>
        <queriedFields>Most_Recent_GA_Content__c</queriedFields>
        <queriedFields>Most_Recent_GA_Medium__c</queriedFields>
        <queriedFields>Most_Recent_GA_Source__c</queriedFields>
        <queriedFields>Most_Recent_GA_Term__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Contacts_0_0</name>
        <label>Find Contacts</label>
        <locationX>91</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContactNull</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Web2Lead.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>socLoopA_Contacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>Most_Recent_GA_Campaign__c</queriedFields>
        <queriedFields>Most_Recent_GA_Content__c</queriedFields>
        <queriedFields>Most_Recent_GA_Medium__c</queriedFields>
        <queriedFields>Most_Recent_GA_Source__c</queriedFields>
        <queriedFields>Most_Recent_GA_Term__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>FindWeb2Lead</name>
        <label>FindWeb2Lead</label>
        <locationX>39</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCampaignID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarLeadIdSFDC</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>sov_Web2Lead</outputReference>
        <queriedFields>Description</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Campaign_ID__c</queriedFields>
        <queriedFields>Campaign_ID_Invalid__c</queriedFields>
        <queriedFields>GA_Campaign__c</queriedFields>
        <queriedFields>GA_Content__c</queriedFields>
        <queriedFields>GA_Medium__c</queriedFields>
        <queriedFields>GA_Source__c</queriedFields>
        <queriedFields>GA_Term__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Multiple_Contact_Matches__c</queriedFields>
        <queriedFields>UseLMP__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Program_Interest__c</queriedFields>
        <queriedFields>SMS_Opt_in__c</queriedFields>
        <queriedFields>Web_Source_Page__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Campaign_ID_Invalid</name>
        <label>Update Lead Campaign ID Invalid</label>
        <locationX>306</locationX>
        <locationY>661</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Web2Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_ID_Invalid__c</field>
            <value>
                <elementReference>varCompaignIDInvalid</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>1673</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>AssignWebForm</targetReference>
        </connector>
        <inputReference>sov_ContactUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLead</name>
        <label>UpdateLead</label>
        <locationX>553</locationX>
        <locationY>432</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_Web2Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_ID_Invalid__c</field>
            <value>
                <elementReference>varCompaignIDInvalid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_Contact_Matches__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Check_if_Lead_is_good</startElementReference>
    <status>Active</status>
    <subflows>
        <name>CheckForCampaign</name>
        <label>CheckForCampaign</label>
        <locationX>558</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>If_Changed</targetReference>
        </connector>
        <flowName>CheckCampaignProcess</flowName>
        <inputAssignments>
            <name>varCampaignSFDCID</name>
            <value>
                <elementReference>sov_Web2Lead.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoContact</name>
            <value>
                <elementReference>varNoContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCampaignIDInvalid</name>
            <value>
                <elementReference>varCompaignIDInvalid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sovWeb2Lead</name>
            <value>
                <elementReference>sov_Web2Lead</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sovLoopA_Campaign</assignToReference>
            <name>sovLoopA_Campaign</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CheckForCampaign_0</name>
        <label>CheckForCampaign</label>
        <locationX>1224</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>DeleteLead</targetReference>
        </connector>
        <flowName>CheckCampaignProcess</flowName>
        <inputAssignments>
            <name>varCampaignSFDCID</name>
            <value>
                <elementReference>sov_Web2Lead.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoContact</name>
            <value>
                <elementReference>varNoContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sovWeb2Lead</name>
            <value>
                <elementReference>sov_Web2Lead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactSFDCID</name>
            <value>
                <elementReference>varContactSFDCID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sovLoopA_Campaign</assignToReference>
            <name>sovLoopA_Campaign</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>socLoopA_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sov_ContactUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sov_Web2Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sov_WebFormNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Web_Contact_Form__c</objectType>
    </variables>
    <variables>
        <name>sovLoopA_Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>sovLoopA_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varCompaignIDInvalid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varContactCreateDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactSFDCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varGACampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGAContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGAMedium</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGASource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGATerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastModifiedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadCheckID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarLeadIdSFDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varNoContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varTotalContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
